<form action="/restaurants" method="POST">
    <input required type="text" name="name" id="name" placeholder="Name" />
    <input required type="url" name="image" id="image" placeholder="URL" />
    <input type="submit">
</form>